/* d3 Journalism
 * Add styling to your d3 chart with this file. */
 .tooltip {
    position: absolute;
    width: 155px;
    height: 70px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #77747b;
    border: 0;
    border-radius: 10px;
   /* Add this below my tooltip was flickering over mouse.
     added the below */
    pointer-events:none;
  }
  .axisText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #551aaf;
    text-anchor: middle;
  }
